body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: #222;
    position: absolute;
    overflow: hidden;
}

span{
    background: url("C:\\Users\\DY\\0.MY FOLDER\\VS Code\\Web Development\\Project1\\heart_528280.png");
    width: 100px;
    height: 100px;
    position: absolute;
    pointer-events: none;
    background-size: cover;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    animation: animate 5s linear;
}

@keyframes animate{
    0%{
        transform: translate(-50%,-50%);
        opacity: 1;
        filter: hue-rotate(0);
    }
    100%{
        transform: translate(-50%,-5000%);
        opacity: 0;
        filter: hue-rotate(720deg);
    }
}